.body{
/*background-image: url('../img/create.jpg');*/
background-size: csover;
background-color: black;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
}
#header{
	
text-align:center;
color:#b3d9ff;
/*border: 3px solid #ffa31a;*/
text-color:#ffff66;
font-family: "Lucida Console", Courier, monospace;
}
#bookingdetails{
	position:relative;
	height:500px;
margin:20px;
width:380px;
left:38%;
top:5%;
/*border-style: dashed;*/
  color:#28004d;
  background-color: #f3e6ff;
  border-radius: 8px;
}
#table {
	margin:0px 40px;

	
}
#submit{
	margin:0% 40%;;
}
#back{
	position:relative;
	margin-left:720px;
}