.body{
background-image: url('../img/create.jpg');
background-size: csover;
}
.header{
text-align:center;
color:#b3d9ff;
border: 3px solid #ffa31a;
text-color:#ffff66;
font-family: "Lucida Console", Courier, monospace;
}
.form {
	
	position:absolute;
background-image: url('../img/card2.jpg');
background-size: cover;
float:center;
margin: 100px 500px;
height:490;
width:300;
color:white;
background-size: 100% 100%;
border: 3px solid #73AD21;
text-align:center;
}
.button1{
cursor:pointer;
border-radius: 8px;
background-color: #008CBA;
}
.table1 {
	color:white;
	float:center;
	position:relative;
	text-align:left;
}
#back{
	position:relative;
	margin-left:1200px;
}