.body{
/*background-image: url('../img/create.jpg');*/
background-color: black;
}
#header{
text-align:center;
color:white;

font-family: "Lucida Console", Courier, monospace;
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
}
#accountDetails {
	position:relative;
	height:550px;
width:400px;
left:38%;
top:5%;
/*border-style: dashed;*/
  color:#28004d;
  background-color: #f3e6ff;
  border-radius: 8px;
}

#button1{
	position:relative;
	left:44%;
	top:-20px;
cursor:pointer;
border-radius: 8px;


}
.table {
	color:white;
	float:center;
	position:relative;
	text-align:left;
}
#back{
	position:relative;
	left:60%;
}