.body1{
	background-image: url('../img/index1.jpg');
	background-color:#333333;
	color:#ffa64d;
	font-family: "Lucida Console", Courier, monospace;
	height:40px;
	

}
.button1{
cursor:pointer;
border-radius: 8px;
background-color: #008CBA;
}
p.solid {
#border-style: dashed;

}
p {
  color: #28004d;
  text-align: center;

} 
#loginbox {
  position: relative;
  left: 30%;
  top: 100px;
  opacity:0.9;
width:500px;
height:350px;
  font-size : 40px;
 /*border-style: dashed;*/
  color:#28004d;
  background-color: #f3e6ff;
  border-radius: 8px;
}
#submit {
	position: relative;
	left:44%;
	top:-40px;
	
}
#admin {

	position: absolute;
  right: 30px;
  top: 25px;
	cursor:pointer;
border-radius: 8px;

}
#createAccount {
	position: relative;
	left:30%;
	top:-50px;
}
.table {
	color:white;
}